@import "colors";

a {
  text-decoration: none;
  &:hover {
    color: $mainColor;
  }
}

li {
  list-style: none;
}

.post {
  margin-left: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
  &:nth-child(2n) {
  background-color: #E0E0E0;
  }
}

.score {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 20px;
}

.img {
  float: left;
  height: 70px;
  width: 70px;
  margin-top: 3px;
  margin-right: 20px;
}

.info {
  padding-top: -50px;
}

.score, .thumbnail, .info {
  overflow: auto;
}

.author {
  margin-right: 10px;
}

.title {
  color: lighten($mainColor, 50%);
  margin-top: 0px;
}